.my-brand {
  --sds-c-button-brand-color-background: brown;
  --lwc-brandAccessibleActive: brown;
  --lwc-brandAccessible: brown;
  --lwc-buttonBorderRadius: 50%;
  --sds-c-button-brand-spacing-inline-start: 35px;

}

p {
  color: var(--white-color);
}
