:host {
    margin-right: 15px;
    margin-left: 15px;
}

.nav-item-icon > span > a {
    text-decoration: none;
    color: black;
    transition: none;
}

.nav-item-icon {
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    max-width: 100px;
    padding-top: 5px;
    background-color: transparent;
    z-index: 4;
}

:host.nav-item-icon-small > div.nav-items-icons-wrapper, :host.nav-item-icon-small > div.nav-items-icons-wrapper > div.nav-item-icon {
    width: 60px;
}

:host.nav-item-icon-big > div.nav-items-icons-wrapper, :host.nav-item-icon-big > div.nav-items-icons-wrapper > div.nav-item-icon {
    width: 80px;
}

.nav-item-icon:hover, .nav-item-icon-is-active {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 5;
    transition: box-shadow 250ms linear, background-color 250ms linear;
    background-color: white;
}

.nav-item-icon:hover > div.nav-item-icon-dropdown {
    opacity: 1;
    transform: scaleY(1);
    /*max-height: 450px;*/
    pointer-events: all;
}

.nav-item-icon:hover > span > svg, .nav-item-icon-is-active > span > svg {
    stroke: #d21e77;
}


.nav-item-icon:hover > span .nav-item-icon-is-active > span {
    border-bottom-color: #d21e77;
}

.nav-item-icon > span {
    border-bottom: 2px solid transparent;
}

.nav-item-icon-dropdown {
    position: absolute;
    cursor: default;
    top: 52px;
    width: 300px;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    clip-path: inset(0px -3px -16px);
    border-top: none;
    border-radius: 14px;
    z-index: 4;
    background-color: white;
    opacity: 0;
    /*transition: opacity 250ms linear, max-height 250ms linear;*/
    /*max-height: 0;*/
    transform: scaleY(0);
    transition: opacity 150ms linear, transform 200ms ease-in-out;
    transform-origin: top center;
    pointer-events: none;
}

.nav-item-icon-profile-dropdown {
    border-top-left-radius: 0px;
    left: 0;
}

.nav-item-icon-profile-dropdown h1 {
    color: #d21e77;
    font-size: 20px;
    float: left;
}

.nav-item-icon-profile-dropdown h2 {
    color: black;
    font-size: 17px;
    float: left;
}

.nav-item-icon-profile-dropdown button {
    border-radius: 14px;
    background-color: white;
    border: 1px solid #d21e77;
    cursor: pointer;
    padding: 5px;
    float: right;
    font-size: 14px;
    line-height: 11px;
    color: #d21e77;
    width: 61px;
    height: 23px;
}

.nav-item-icon-profile-dropdown button:hover {
    background-color: #d21e77;
    color: white;
}

.nav-item-icon-profile-dropdown > div.slds-grid > div.slds-col {
    border-bottom: 1px solid rgba(212, 212, 212, 0.5);
}

.nav-item-icon-profile-dropdown p {
    float: left;
}

.nav-item-icon-orders-dropdown {
    left: -130px;
}

.nav-item-icon-resources-dropdown {
    right: 0;
    border-top-right-radius: 0px;
}

.nav-item-svg {
    width: 20px;
    height: 24px;
    display: block;
    stroke: #5c5c5c;
    fill: none;
}

.numerator {
    position: absolute;
    background: #d21e77;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    right: 27%;
    top: 14px;
    font-size: 10px;
}