.flex-card {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.flex-grow-body {
    flex-grow : 1;
}

.flex-grid {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}