div.slds-carousel__panels {
    transition: transform 500ms ease-in;
}

a.slds-is-active {
    background: var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
    border-color: var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
}

a:hover {
    background: var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
    border-color: var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
}

a.slds-is-active:active {
    background: var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
    border-color: var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
}

a.slds-is-active:focus {
    background: var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
    border-color: var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
    box-shadow: 0 0 3px var(--c-mucinexBrandBlueColor, rgb(0, 112, 210)) !important;
}

.slds-carousel__indicator-action {
    background: var(--c-colorGrey3);
    border-color: var(--c-colorGrey3);
}