:host.flex-grid, .flex-grid{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

:host.finally-table--header-fixed_container {
    width: 100%;
    position:relative;
}